.BotonInput {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;

    border: .05rem solid rgb(255, 255, 255);
    border-radius: 50%;

    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}