.buscador {
    width: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    gap: .5rem;
    padding: 0px 1rem;
    margin: 1rem 0px;
}

.buscadorEtiqueta {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.buscadorAporte {
    width: 15rem;
    border-radius: 1rem;
    border: .05rem rgb(255, 255, 255) solid;
    padding: .1rem .3rem;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);

    font-family: "Coming Soon", cursive;
    ;
}

.buscadorAporte::placeholder {
    font-style: italic;
}

.buscadorAporte:focus {
    outline: none;
    box-shadow: 0px 0px .5rem rgb(255, 255, 255);
}