.tarea {
    width: 100%;
    height: 15rem;
    flex-shrink: 0;

    padding: .5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    text-align: start;
    gap: .5rem;

    background-color: rgba(0, 0, 0, 0.845);
    border-radius: 1rem;
    transition: all .1s;
    cursor: pointer;
}

.tarea:active {
    transform: scale(1.1);
    box-shadow: 0px 0px .5rem rgb(30, 252, 237);
}

.identificador {
    font-size: .7rem;
    color: rgb(114, 114, 114);
}

.cotenido {
    font-size: 1rem;
    width: 100%;
    height: 10rem;
    word-break: break-all;
    overflow-y: auto;
    scrollbar-color: rgb(255, 255, 255) rgba(255, 0, 0, 0);
    scrollbar-width: thin;
}

.contenidoBotones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}